.header-bg {
    padding-top: 4rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../images/bg-image.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}