<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="pl">
<head>
    <th:block th:insert="index :: copy-head">Copied from index</th:block>
    <title>TMW::Add new purchase</title>
</head>
<body>
<div style="display: flex; justify-content: center">
    <h1>ADD NEW PURCHASE</h1>
</div>
<form action="#" th:action="@{/addPurchase}" th:method="post" th:object="${productDto}">
    <div class="container text-start">
        <div class="form-floating text-muted mb-3 ">
            <input type="text" th:field="*{name}" class="form-control" id="username" placeholder="Username"
                   name="username">
            <label for="username">Name of the product</label>
            <span class="text-danger text-uppercase" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>
        <button class="w-100 btn btn-lg btn-success text-dark" type="submit">Add</button>
    </div>
</form>

<br>
<div class="container">
    <a class="w-100 btn btn-lg btn-success text-dark" th:href="@{/}">Go back</a>
</div>
<th:block th:insert="index::copy-scripts">copied from index</th:block>
</body>
</html>