<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="pl">
<head>
    <th:block th:insert="index :: copy-head">Copied from index</th:block>
    <title>TMW::Edit product</title>
</head>
<body>
<div style="display: flex; justify-content: center">
    <h1>EDIT PRODUCT</h1>
</div>
<form action="#" th:action="@{/updateProduct}" th:method="post" th:object="${productToBeUpdated}">
    <div class="container text-center">
        <div class="form-floating mb-3 ">
            <input readonly type="number" th:field="*{id}" class="form-control" id="id" th:placeholder="${productToBeUpdated.id()}"
                   name="id">
            <label for="id">ID</label>
        </div>
        <div class="form-floating mb-3 ">
            <input type="text" th:field="*{name}" class="form-control" id="username" th:placeholder="${productToBeUpdated.name()}"
                   name="username">
            <label for="username">Name of the product</label>
            <span class="text-danger text-uppercase" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        </div>

        <div class="input-group ">
            <select class="form-select border-1 border-success" th:field="*{type}">
                <option th:each="type : ${types}" th:value="${type}" th:text="${type}" th:placeholder="${productToBeUpdated.type()}"></option>
            </select>
        </div>
        <div class="container mb-3">
            <span class="text-danger text-uppercase " th:if="${#fields.hasErrors('type')}"  th:errors="*{type}"></span>
        </div>

        <div class="input-group">
            <select th:field="*{place}" class="form-select border-1 border-success">
                <option th:each="place : ${places}" th:value="${place}" th:text="${place}" th:placeholder="${productToBeUpdated.place()}"></option>
            </select>
        </div>
        <div class="container mb-3">
            <span class="text-danger text-uppercase" th:if="${#fields.hasErrors('place')}" th:errors="*{place}"></span>
        </div>

        <button class="w-100 btn btn-lg btn-success text-dark" type="submit">Update</button>
    </div>
</form>
<br>
<div class="container">
    <a class="w-100 btn btn-lg btn-success text-dark" th:href="@{/myStorage}">Go back</a>
</div>
<th:block th:insert="index::copy-scripts">copied from index</th:block>
</body>
</html>