<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="pl">
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<head>
    <th:block th:fragment="copy-head">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
              crossorigin="anonymous">
    </th:block>
    <title>Tell Me When</title>
</head>
<body>
<!-- Background image -->
<div class="bg-info" style="background-image: url('https://images.unsplash.com/photo-1546611723-b1c17708a946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80');
    height: 100vh;">
    <br>
    <div class="justify-content-center container text-center">
        <h1 class="py-2 bg-light border border-1 border-dark rounded-2"
            style="--bs-bg-opacity: .7; font-family: Bahnschrift,serif; font-size: 45px">TELL ME WHEN</h1>
    </div>
    <div class="container pb-3">
        <div class="row justify-content-between">
            <div class="col-3 text-center bg-light border border-1 border-dark rounded-pill"
                 style="--bs-bg-opacity: .5;">
                <span style="font-size: 25px">Items to buy:</span>
                <div class="">
                    <a class="text-decoration-none text-dark"
                       style="font-size: 45px; font-family: Bahnschrift,serif; font-weight: bold"
                       th:text="${#lists.size(myShoppingList)}" th:href="@{/myShoppingList}"/>
                </div>
            </div>
            <h5 class="col-5 mx-1 py-2 bg-light border border-1 border-dark rounded-2 text-center"
                style="--bs-bg-opacity: .7; font-family: Bahnschrift,serif">This app can help you manage your grocery
                items.<br>
                From now no food or other product in your household will waste.</h5>
            <div class="col-3 text-center bg-light border border-1 border-dark rounded-pill"
                 style="--bs-bg-opacity: .5;">
                <span style="font-size: 25px">Items in storage:</span>
                <div class="">
                    <a class="text-decoration-none text-dark"
                       style="font-size: 45px; font-family: Bahnschrift,serif; font-weight: bold"
                       th:text="${#lists.size(myStorageList)}" th:href="@{/myStorage}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="container col-6 rounded-3 text-center pb-3">
        <button class="justify-content-center btn btn-success text-uppercase text-center text-dark rounded-pill border border-1 border-dark"
                style="font-size: 20px; font-family: Bahnschrift,serif" type="button"
                data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-chevron-compact-down me-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
            </svg>
            Show products that will expire soon
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                 class="bi bi-chevron-compact-down ms-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
            </svg>
        </button>
        <div class="collapse pt-2" id="collapseExample">
            <div class="card card-body bg-light" style="--bs-bg-opacity: .7;">
                <!--tabelka-->
                <table class="container table table-hover table-sm">
                    <thead class="bg-success">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Product Type</th>
                        <th scope="col">Place of Storage</th>
                        <th scope="col">Purchase Date</th>
                        <th scope="col">Expiry Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="expiredProduct: ${expiredProductsList}">

                        <td th:utext="${expiredProduct.name()}"></td>
                        <td th:text="${expiredProduct.type()}"></td>
                        <td th:text="${expiredProduct.place()}"></td>
                        <td th:text="${expiredProduct.purchaseDate()}"></td>
                        <td th:text="${expiredProduct.expiryDate()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="container col col-4 bg-light py-3 border border-dark border-1 rounded-3" style="--bs-bg-opacity: .7;">
        <div class="container text-center col-12 pb-3">
            <h3 style="font-family: Bahnschrift,serif">What would you like to do?</h3>
        </div>
        <form action="#" th:action="@{/newProduct}" method="get">
            <div class="container text-center">
                <button class="w-100 btn btn-lg btn-success text-dark border border-dark rounded-pill text-uppercase"
                        type="submit">Add
                    items to storage
                </button>
            </div>
        </form>
        <br>
        <form action="#" th:action="@{/newPurchase}" method="get">
            <div class="container text-center">
                <button class="w-100 btn btn-lg btn-success text-dark border border-dark rounded-pill text-uppercase"
                        type="submit">Add
                    items to shopping list
                </button>
            </div>
        </form>
        <br>
        <form action="#" th:action="@{/myStorage}" method="get">
            <div class="container text-center">
                <button class="w-100 btn btn-lg btn-success text-dark border border-dark rounded-pill text-uppercase"
                        type="submit">My
                    storage
                </button>
            </div>
        </form>
        <br>
        <form action="#" th:action="@{/myShoppingList}" method="get">
            <div class="container text-center">
                <button class="w-100 btn btn-lg btn-success text-dark border border-dark rounded-pill text-uppercase"
                        type="submit">
                    Shopping list
                </button>
            </div>
        </form>
    </div>
    <th:block th:fragment="copy-scripts">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
                crossorigin="anonymous"></script>
    </th:block>
</div>
</body>
</html>