<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="pl">
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<head>
    <th:block th:insert="index :: copy-head">Copied from index</th:block>
    <title>TMW::My Shopping List</title>
</head>
<body>
<div class="bg-info" style="background-image: url('https://images.unsplash.com/photo-1546611723-b1c17708a946?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80');
    height: 100vh;">
    <br>
    <div class="justify-content-center container text-center">
        <h1 class="py-2 bg-light border border-1 border-dark rounded-2 text-uppercase"
            style="--bs-bg-opacity: .7;
            font-family: Bahnschrift,serif;
            font-size: 45px">My shopping list</h1>

        <table class="container table table-hover table-sm bg-light border border-1 border-dark text-center"
               style="--bs-bg-opacity: .8;
               font-family: Bahnschrift,serif">
            <thead class="bg-success">
            <tr class="text-uppercase">
                <th scope="col">#</th>
                <th scope="col">Product</th>
                <th scope="col">Product Type</th>
                <th scope="col">Add to MyStorage</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="shoppingProductDto: ${listOfShoppingProductDto}">
                <th scope="row" th:text="${shoppingProductDto.id()}"></th>
                <td th:utext="${shoppingProductDto.name()}"></td>
                <td th:text="${shoppingProductDto.type()}"></td>
                <td>
                    <a class="btn btn-outline-success" type="button"
                       th:href="@{/addToStorage(id=${shoppingProductDto.id()})}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <form action="#" th:action="@{/myStorage}" method="get">
            <div class="container text-center">
                <button class="w-50 btn btn-lg btn-success text-dark border border-dark rounded-pill text-uppercase"
                        type="submit">My storage
                </button>
            </div>
        </form>
        <br>
        <div class="container text-center">
            <a class="w-50 btn btn-lg btn-success text-dark border border-dark rounded-pill text-uppercase"
               th:href="@{/}">Go back</a>
        </div>
    </div>
</div>

<th:block th:insert="index::copy-scripts">copied from index</th:block>
</body>
</html>