<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      lang="pl">
<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
<head>
    <th:block th:insert="index :: copy-head">Copied from index</th:block>
    <title>TMW::Log in</title>
    <link rel="stylesheet" th:href="@{/css/signin.css}">
</head>
<body class="text-center">
<main class="form-signin w-100 m-auto">
    <form th:action="@{/sign-in}" method="post">
        <img class="mb-4" th:src="@{/images/pantry.png}" src="" alt="" width="144" height="114">
        <h1 class="h1  mb-3 fw-bold"
            style="--bs-bg-opacity: .7; font-family: Bahnschrift,serif; font-size: 45px">TELL ME WHEN</h1>
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div th:if="${param.error}" class="alert alert-danger my-3">
            <span th:text="'WRONG USERNAME OR PASSWORD'">WRONG USERNAME OR PASSWORD</span>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
    </form>
</main>
<th:block th:insert="index::copy-scripts">copied from index</th:block>
</body>
</html>
